@model eCommerceCrud.Models.Produto
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edite</title>
</head>
<body>
    <form method="post" asp-controller="produto" asp-action="edite">
        <table>
            <tr>
                <td>Nome</td>
                <td>
                    <input type="text" asp-for="Nome" required="required" />
                </td>
            </tr>
            <tr>
                <td>Preco</td>
                <td> 
                    <input type="number" asp-for="Preco" min="0" required="required" />
                </td>
            </tr>
            <tr>
                <td>Quantidade</td>
                <td>
                    <input type="number" asp-for="Quantidade" min="0" required="required" />
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <input type="checkbox" asp-for="Status" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                    <input type="hidden" asp-for="Id" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
